# MongoDB Atlas Connection String
# Format: mongodb+srv://username:password@cluster.mongodb.net/databasename?retryWrites=true&w=majority
# Hoặc Local MongoDB: mongodb://localhost:27017/crypto_signal

MONGO_URI=mongodb://localhost:27017/crypto_signal

# Nếu dùng MongoDB Atlas, thay bằng:
# MONGO_URI=mongodb+srv://user:password@cluster0.xxxxx.mongodb.net/crypto_signal?retryWrites=true&w=majority

PORT=3001

# Notification
ONESIGNAL_APP_ID=your_app_id
ONESIGNAL_API_KEY=your_api_key
